<configuration>
    <!-- Configura el nivel de log para la consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configura el nivel de log para un archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configura el nivel de log global -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Forzar niveles mínimos para bibliotecas de terceros -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.amstech" level="INFO"/>
    <logger name="javax.management.remote.rmi" level="INFO"/>
    <logger name="java.rmi.server" level="INFO"/>
    <logger name="sun.rmi" level="INFO"/>
    <logger name="java.lang.management" level="INFO"/>
    <logger name="sun.net.www" level="INFO" />
    <logger name="sun.net.www.protocol.http.HttpURLConnection" level="INFO" />
    <logger name="SimpleScope" level="INFO" />
    <logger name="NoOp observation" level="INFO" />
    <logger name="javax.management" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.sun.management" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
